<div id="fh5co-contact">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-push-1 animate-box">
				
				<div class="fh5co-contact-info">
					<h3>{{ content.field_facebook_url.0 }}</h3>
					<ul>
						<li class="address">{{ content.field_about_bottom_desc.0 }}</li>
						<li class="phone"><a href="tel:{{ content.field_linkedin_url.0 }}">{{ content.field_linkedin_url.0 }}</a></li>
						<li class="email"><a href="mailto:{{ content.field_works_header_title.0 }}">{{ content.field_works_header_title.0 }}</a></li>
					</ul>
				</div>

			</div>
			<div class="col-md-6 animate-box">
				<h3>{{ content.field_front_title.0 }}</h3>
				{{ content.field_contact_form }}	
			</div>
		</div>
		
	</div>
</div>