<div class="col-md-4">
	<div class="box-testimony animate-box">
		<blockquote>
			<span class="quote"><span><i class="icon-quote"></i></span></span>
			{{ content.field_clients_desc.0 }}
		</blockquote>
		<p class="author">{{ content.field_front_title.0 }}  <span class="subtext">{{ content.field_services_title.0 }}</span></p>
	</div>
	
</div>