<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
	<div class="fh5co-staff">
		<img src="{{ file_url(content.field_clients_image['#items'].entity.uri.value) }}" alt="team-image">
		<h3>{{content.field_front_title.0}}</h3>
		<strong class="role">{{content.field_services_title.0}}</strong>
		<p>{{content.field_works_header_desc.0}}</p>
		<ul class="fh5co-social-icons">
			<li><a href="{{content.field_facebook_url.0}}"><i class="fa fa-facebook"></i></a></li>
			<li><a href="{{content.field_twitter_url.0}}"><i class="fa fa-twitter"></i></a></li>
			<li><a href="{{content.field_linkedin_url.0}}"><i class="fa fa-dribbble"></i></a></li>
			<li><a href="{{content.field_dribble_url.0}}"><i class="fa fa-linkedin"></i></a></li>
		</ul>
	</div>
</div>