<div id="fh5co-blog" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>{{ content.field_services_title.0 }}</h2>
					<p>{{ content.field_works_header_desc.0 }}</p>
				</div>
			</div>
			<div class="row">
				{{ content.field_recent_blog }}
			</div>
		</div>
	</div>