<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({{ file_url(content.field_clients_image['#items'].entity.uri.value) }});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>{{ content.field_works_header_title.0 }}</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>