
<div class="col-md-4 col-sm-4">
	<div class="feature-center animate-box" data-animate-effect="fadeIn">
		<span class="icon">
			{{ content.field_services_icon.0 }}
		</span>
		<h3>{{ content.field_services_title.0 }}</h3>
		<p>{{ content.field_services_desc.0 }}</p>
	</div>
</div>