<div id="fh5co-about">
		<div class="container">
			<div class="about-content">
				<div class="row animate-box">
					<div class="col-md-6 col-md-push-6">
						<div class="desc">
							{{content.field_clients_desc.0}}
						</div>
						<div class="desc">
							{{content.field_about_bottom_desc.0}}
						</div>
					</div>
					<div class="col-md-6 col-md-pull-6">
						<img class="img-responsive" src="{{ file_url(content.field_clients_image['#items'].entity.uri.value) }}" alt="about">
					</div>
					
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<span>{{content.field_services_title.0}}</span>
					<h2>{{content.field_works_header_title.0}}</h2>
					<p>{{content.field_works_header_desc.0}}</p>
				</div>
			</div>
			<div class="row">
				{{content.field_team_list}}				
			</div>
		</div>
	</div>