<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url({{ file_url(content.field_front_banner_image['#items'].entity.uri.value) }});">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>{{ content.field_front_title.0 }}</h1>
						<div class="row">
							{{ content.field_subscibe_form.0  }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>