{{ content.field_top_banner.0 }}	
<!-- Blog Section -->
<section id="blog" class="blog-details">
  <div class="container">
      <div class="row">
        <div class="blog-full-page">
         <div class="blog_content">
          <div class="blog_image full">
            <img src="{{ file_url(content.field_blog_image['#items'].entity.uri.value) }}" class="img-responsive">
           </div>
           <div class="blog_caption full">
            <h3>{{label}}</h3>
            {{content.body.0}}
          </div>
        </div>
        
    </div>
  </div>
  </div>
</section>    
<!-- Blog Section End -->
{{ content.field_blog.0 }}