
<!-- Start Services Detail -->

{{ content.field_node_top_banner.0 }}
<section id="services">   
    <div class="container">
        <div class="row">          
          <div class="col-md-12 header-section text-center">
            <h2>{{label}}</h2>
          </div> 
           <div class="service">           
            <img src="{{ file_url(content.field_works_image['#items'].entity.uri.value) }}" class="img-responsive" alt="services-detail" title="services-detail">
                  {{content.body.0}}
            </div>
        </div>     
             
    </div>
</section>   
<!-- End Services Details  -->

{{ content.field_call_to_action.0 }}