<form class="form-inline" id="fh5co-header-subscribe">
	<div class="col-md-6 col-md-offset-3">
		<div class="form-group">
			{{ element.elements.email }}
			{{ element.elements.actions }}
		</div>
	</div>
</form>
