

<form action="#">
	<div class="row form-group">
		<div class="col-md-6">
			{{ element.elements.your_firstname }}
		</div>
		<div class="col-md-6">
			{{ element.elements.your_lastname }}
		</div>
	</div>

	<div class="row form-group">
		<div class="col-md-12">
			{{ element.elements.your_email_address }}
		</div>
	</div>

	<div class="row form-group">
		<div class="col-md-12">
			{{ element.elements.your_subject_ }}
		</div>
	</div>

	<div class="row form-group">
		<div class="col-md-12">
			{{ element.elements.message }}
		</div>
	</div>
	<div class="form-group">
		{{ element.elements.actions }}
	</div>

</form>