{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
   <div class="fh5co-loader"></div>
    
    <div id="page">

    <div id="fh5co-offcanvas"></div>
    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle fh5co-nav-white"><i></i></a>


    <nav class="fh5co-nav" role="navigation">
        <div class="container">
            <div class="row">           
                <div class="logo text-center">
                    {{ page.header }}
                </div>
                <div class="left-menu text-left menu-1">
                    {{ page.primary_menu }}
                </div>
            </div>
            
        </div>
    </nav>

    
    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({{ bg_image_url }});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>{{ page['#title'] }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header> 

{# Main #}
<section id="not-found-section" class="text-center">
  <div class="container">               
    <div class="row"> 
      <div class="not-found-body" >
        <div class="not-title" >
          <h1>404</h1>
          <h2>Page Not Found</h2> 
        </div>  
          <h2>Sorry. We can't find a page.</h2>
          <p>The Page you are looking for might have a removed, had its name changed, or its temporarily unavailable.</p>      
          <a href="{{front_page}}" class="btn btn-custom"> Go Home </a>      
      </div>
    </div>          
  </div>    
</section>
 



  <footer id="fh5co-footer" role="contentinfo">
    <div class="container">
      <div class="row footer-bottom">
            <div class="col-md-4 col-sm-12 footer-columns wow fadeInLeft">
              {{ page.footer_col_first }}
            </div>
             <div class="col-md-2 col-sm-12 footer-bottom-col2 wow fadeInUp">
              {{ page.footer_col_second }}
            </div>
            <div class="col-md-2 col-sm-12 footer-bottom-col2 wow fadeInUp">
            {{ page.footer_col_third }}
            </div>
            <div class="col-md-4 col-sm-12 footer-bottom-col3 wow fadeInRight">
              <h6>{{contact}}</h6>
              <p>{{contact_desc}}</p>
              <p><a href="tel:{{phone}}" class="phone-num">{{phone}}</a></p>
              <p><a href="mailto:{{email}}">{{email}}</a></p>
             </div>
          </div>

      <div class="row copyright">
        <div class="col-md-12 text-center">
          <p>
            <small class="block">&copy; 2018 YG Orange. All Rights Reserved.</small> 
            <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a>  Developed By<a href="https://www.drupaldevelopersstudio.com/" target="_blank"> Drupal Developers Studio</a></small>
          </p>
          <p>
            <ul class="fh5co-social-icons">
              {% if twitter  %}
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              {% endif %}
              {% if facebook  %}
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              {% endif %}
              {% if linkedin  %}
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              {% endif %}
              {% if dribbble  %}
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              {% endif %}
            </ul>
          </p>
        </div>
      </div>

    </div>
  </footer>
  </div>
  

  