
    <div class="fh5co-loader"></div>
    
    <div id="page">

    <div id="fh5co-offcanvas"></div>
    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle fh5co-nav-white"><i></i></a>


    <nav class="fh5co-nav" role="navigation">
        <div class="container">
            <div class="row">           
                <div class="logo text-center">
                    {{ page.header }}
                </div>
                <div class="left-menu text-left menu-1">
                    {{ page.primary_menu }}
                </div>
            </div>
            
        </div>
    </nav>



    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({{ bg_image_url }});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>{{ page['#title'] }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <footer id="fh5co-footer" role="contentinfo">
        <div class="container">
            <div class="row footer-bottom">
              <div class="col-md-4 col-sm-12 footer-columns wow fadeInLeft">
                {{ page.footer_col_first }}
              </div>
               <div class="col-md-2 col-sm-12 footer-bottom-col2 wow fadeInUp">
                {{ page.footer_col_second }}
              </div>
              <div class="col-md-2 col-sm-12 footer-bottom-col2 wow fadeInUp">
              {{ page.footer_col_third }}
              </div>
              <div class="col-md-4 col-sm-12 footer-bottom-col3 wow fadeInRight">
                <h6>{{contact}}</h6>
                <p>{{contact_desc}}</p>
                <p><a href="tel:{{phone}}" class="phone-num">{{phone}}</a></p>
                <p><a href="mailto:{{email}}">{{email}}</a></p>
               </div>
          </div>

            <div class="row copyright">
                <div class="col-md-12 text-center">
                    <p>
                        <small class="block">&copy; 2018 YG Orange. All Rights Reserved.</small> 
                        <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a>  Developed By<a href="https://www.drupaldevelopersstudio.com/" target="_blank"> Drupal Developers Studio</a></small>
                    </p>
                    <p>
                        <ul class="fh5co-social-icons">
                            {% if twitter  %}
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            {% endif %}
                            {% if facebook  %}
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            {% endif %}
                            {% if linkedin  %}
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            {% endif %}
                            {% if dribbble  %}
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            {% endif %}
                        </ul>
                    </p>
                </div>
            </div>

        </div>
    </footer>
    </div>
    

    